* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 100px;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h2 {
  font-size: 1.7em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  text-align: left;
}

.hide {
  display: none;
}

.nav-container {
  width: 50%;
  display: inline-block;
}

.nav-item {
  display: inline-block;
  padding: 0 60px;
  height: 100%;
}

.nav-item:hover {
  background-color: #d6d6d6;
  border-bottom: solid 2px white;
}

header {
  background-image: url('./images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 150px 0 12% 18%;
  height: 100vh;
  text-align: left;
}

header h1 {
    font-weight: 400;
}

.title {
  font-weight: bold;
}

.title, h2, h3, h4, section a, .proj-title {
    letter-spacing: .6px;
}

.headline {
  color: #a7a7a7;
  font-size: 80%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  min-height: 200px;
  padding: 3%;
}

section h2 {
  border-bottom: 2px solid gray;
  margin-top: 20px;
  margin-bottom: 40px;
}

#about .columns {
   -webkit-columns: 3 300px;
  -moz-columns: 3 300px;
  columns: 3 300px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  text-align: left;
}

.columns p {
  margin-top: 0;
}

.project {
  padding: 0 0 100px 0;
}

.proj-descr {
  display: inline-block;
  width: 50%;
  padding: 0 0 0 3%;
  text-align: left;
  vertical-align: top;
}

.proj-title {
  font-weight: bold;
  font-size: 130%;
}

.screenshot {
  padding-top: 10px;
  display: inline-block;
  max-width: 50%;
}

section a {
  text-decoration: none;
  color: initial;
  border-bottom: 1px solid #444;
  font-weight: bold;
}

section a:hover {
  opacity: .5;
}

#contact .email {
  font-size: 120%;
  font-weight: bold;
  line-height: 60px;
  border-bottom: none;
}

.social-container img {
  display: inline-block;
  padding: 20px;
  width: 100px;
}

.social-container a {
  border: none;
}

.social-container a:hover {
  opacity: .5;
}

@media screen and (max-width: 1175px) {

  header h1 {
    font-size: 30px;
  }

  header {
    padding-left: 14%;
  }

}

@media screen and (max-width: 950px) {

  header h1 {
    font-size: 26px;
  }

  header {
    padding-left: 12%;
  }

}

@media screen and (max-width: 800px) {

  header {
    padding-left: 10%;
  }

  header h1 {
    font-size: 24px;
  }

}

@media screen and (max-width: 700px) {

  .screenshot {
    display: block;
    max-width: 100%;
  }

  .proj-descr {
    display: block;
    width: 100%;
    padding: 0;
  }

  .headline {
    display: block;
    line-height: 1.2;
  }

  .divider {
    display: none;
  }

}

@media screen and (max-width: 600px) {

  body {
    font-size: 16px;
  }

  .social-container img {
    width: 80px;
  }

  header {
    background-position: bottom right 35%
  }

}

@media screen and (max-width: 400px) {

   .social-container img {
    width: 70px;
  }

  header h1 {
    font-size: 22px;
  }

}

@media screen and (max-width: 350px) {

  header h1 {
    font-size: 20px;
  }

}